@use "theme/globals" as *;

:host {
    .core-format-progress-list {
        width: 100%;

        ion-avatar{
            img{
                border-radius: 0;
            }
        }
    }

    .core-course-thumb {
        margin-inline-start: 0px;
        margin-inline-end: 16px;
        width: 35%;
        border-radius: 0;
        margin-top: 0;
        margin-bottom: 0;
        height: 100%;

        @for $i from 0 to length($core-course-image-background) {
            &.course-color-#{$i} {
                --course-color: var(--core-course-color-#{$i});
                --course-color-tint: var(--core-course-color-#{$i}-tint);
            }
        }

        /** Deprecated icon */
        ion-icon.course-icon {
            padding: 12px;
            font-size: calc(var(--core-courseimage-on-course-size) - 24px);
            border-radius: var(--border-radius);
            color: var(--course-color-tint);
            background: var(--course-color, transparent);
        }

        // Fill geopaterns
        img[src$=".svg"] {
            min-width: 100%;
        }
    }

    @if ($core-hide-courseimage-on-course) {
        .core-course-thumb {
            display: none;
        }
    }

    @if ($core-hide-progress-on-course) {
        .core-course-progress {
            display: none;
        }
    }

    h1 {
        font-size: var(--mdl-typography-heading4-fontSize);
    }

    .core-course-header {
        background: var(--ion-item-background);
    }
}
