<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [text]="'core.back' | translate" />
        </ion-buttons>

        <!--  <ion-title>
            <h1>{{ 'core.login.passwordforgotten' | translate }}</h1>
        </ion-title> -->
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="list-item-limited-width">
        <div class="ion-text-wrap ion-text-center core-login-info-box">

            <div class="core-login-site">
                <div class="core-login-site-logo">
                    <!-- Show site logo or a default image. -->

                    <img src="assets/img/login_logo.png" role="presentation" alt="">
                </div>


                <!-- <p class="core-siteurl" *ngIf="displaySiteUrl">{{site.siteUrl}}</p> -->
            </div>
            <core-login-exceeded-attempts *ngIf="canContactSupport && wasPasswordResetRequestedRecently" [supportConfig]="supportConfig"
                [supportSubject]="'core.login.exceededpasswordresetattemptssupportsubject' | translate">
                {{ 'core.login.exceededpasswordresetattempts' | translate }}
            </core-login-exceeded-attempts>
        </div>
        <ion-list>
            <ion-item class="ion-text-wrap">
                <ion-label>{{ 'core.login.passwordforgotteninstructions2' | translate }}</ion-label>
            </ion-item>
        </ion-list>
        <div class="core-login-methods-forgetpw">
            <div class="inner-section">
                <h1 class="text-white title-page">{{ 'core.login.passwordforgotten' | translate }}</h1>
                <form [formGroup]="myForm" (ngSubmit)="resetPassword($event)" #resetPasswordForm>
                    <!-- <ion-item-divider class="ion-text-wrap">
                        <ion-label>
                        </ion-label>
                    </ion-item-divider> -->
                    <p class="item-heading text-white">{{ 'core.login.searchby' | translate }}</p>

                    <ion-radio-group formControlName="field">
                        <ion-item class="ion-margin-bottom">
                            <ion-radio value="username">{{ 'core.login.username' | translate }}</ion-radio>
                        </ion-item>
                        <ion-item class="ion-margin-bottom">
                            <ion-radio value="email">{{ 'core.user.email' | translate }}</ion-radio>
                        </ion-item>
                    </ion-radio-group>


                    <ion-item lines="inset" class="ion-margin-bottom">
                        <ion-input type="text" name="value" placeholder="{{ 'core.login.usernameoremail' | translate }}"
                            formControlName="value" autocapitalize="none" autocorrect="off" [core-auto-focus]="autoFocus"
                            [ariaLabel]="'core.login.usernameoremail' | translate" />
                    </ion-item>
                    <ion-button type="submit" class="ion-margin core-login-login-button ion-text-wrap ion-margin-bottom text-white"
                        expand="block" [disabled]="!myForm.valid">
                        {{ 'core.courses.search' | translate }}
                    </ion-button>
                </form>
            </div>
        </div>
    </div>
</ion-content>
